* {
	box-sizing: border-box;
	font-weight: bold;
	font-family: roboto;
}

body {
	margin: auto;
}

h1 {
  color: grey;
  text-align: center;
  text-transform: uppercase;
}

li {
	list-style: none;
}

p {
	color: blue;
}

b {
	color: black;
}
